.wrapper {
  background-color: white;
}
body {
  background-color: blue;
  font-family: sans-serif; 
}
image {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
h2 {
  font-size: 20px;
}
h1 {
  font-size: 50px;
}
.me {
  text-align: center;
  width: fit-content;
}
main {
  max-width: 70rem;
  margin: 0 auto;
  line-height: 1.4;
  padding-left: .5em;
  padding-right: .5em;
}
footer {
  background-color: black;
  padding: .5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  font-size: 15px;
  color: white;
}
footer a:hover {
  color: blue;
}